.DS_Store
*.pyc
*.png
images/*
*.directory
*~
\#*
/report/report.out
/report/report.aux
/report/report.fls
/report/report.fdb_latexmk
/report/report.synctex.gz
/report/report.xdv
/report/report.log
/report/report.pdf
*.json.gz